 ## فایل زیر را از فولدر داده بخوانید 
911.csv

In [1]:
import pandas as pd
df = pd.read_csv('911.csv')

## ده سطر اول داده را نمایش دهید

In [2]:
df.head(10)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
5,40.253473,-75.283245,CANNON AVE & W 9TH ST; LANSDALE; Station 345;...,19446.0,EMS: HEAD INJURY,2015-12-10 17:40:01,LANSDALE,CANNON AVE & W 9TH ST,1
6,40.182111,-75.127795,LAUREL AVE & OAKDALE AVE; HORSHAM; Station 35...,19044.0,EMS: NAUSEA/VOMITING,2015-12-10 17:40:01,HORSHAM,LAUREL AVE & OAKDALE AVE,1
7,40.217286,-75.405182,COLLEGEVILLE RD & LYWISKI RD; SKIPPACK; Stati...,19426.0,EMS: RESPIRATORY EMERGENCY,2015-12-10 17:40:01,SKIPPACK,COLLEGEVILLE RD & LYWISKI RD,1
8,40.289027,-75.399590,MAIN ST & OLD SUMNEYTOWN PIKE; LOWER SALFORD;...,19438.0,EMS: SYNCOPAL EPISODE,2015-12-10 17:40:01,LOWER SALFORD,MAIN ST & OLD SUMNEYTOWN PIKE,1
9,40.102398,-75.291458,BLUEROUTE & RAMP I476 NB TO CHEMICAL RD; PLYM...,19462.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:01,PLYMOUTH,BLUEROUTE & RAMP I476 NB TO CHEMICAL RD,1

## لیست ستونهای جدول را نمایش دهید

In [3]:
df.columns

Index(['lat', 'lng', 'desc', 'zip', 'title', 'timeStamp', 'twp', 'addr', 'e'], dtype='object')

## تعداد سطرهای جدول را نمایش دهید

In [4]:
len(df)

99492

## نوع هر ستون را نمایش دهید

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB


## در این داده یک ستون جدید به نام
## cat
## اضافه کنیده از از ستون
## title 
## فقط مقداری که قبل از دو نقطه هست
## را در این ستون داشته باشیم
## به عنوان مثال یکی از مقادیر این ستون جدید باید
## EMS 
## باشد

In [6]:
df['cat'] =  df['title'].apply(lambda s : s.split(':')[0])

In [7]:
df.head(3)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,cat
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire

## ستون جدیدی به نام
## text
## بسازید که در آن دو ستون 
## DESC
## و
## title
## با هم ترکیب شوند و یک متن بسازند

In [8]:
df['text'] =  df['desc']+df['title']

## بر اساس مثال ارائه شده در درس ابتدا متنهای موجود در ستون جدید را پیش پردازش کنید
## یعنی علایم سجاوندی را حذف کنید
## سپس ساک کلمات را بسازید

In [9]:
import string

In [10]:
def removeـpunc(t):
    nopunc = [char for char in t if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    return [word for word in nopunc.split()]

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

bow_transformer = CountVectorizer(analyzer=removeـpunc).fit(df['text'])
text_bow = bow_transformer.transform(df['text'])

## با استفاده از ساک کلمات و
## Tf-idf
## یک الگوریتم پیش بینی کننده مثل
## MultinomialNB
## را اجرا کنید و ستون 
## cat
## را بر اساس متون موجود در ستون 
## text
## پیش بینی کنید

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df['text'], df['cat'], test_size=0.1, random_state=2)

In [13]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

In [14]:
pipeline = Pipeline([
    ('bow' , CountVectorizer(analyzer=removeـpunc)),
    ('tfidf', TfidfTransformer()),
    ('classifier', MultinomialNB())    
])

pipeline.fit(x_train,y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function removeـpunc at 0x0000025AD174AAF0>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [15]:
prediction = pipeline.predict(x_test)

In [16]:
prediction

array(['Traffic', 'EMS', 'Fire', ..., 'EMS', 'EMS', 'EMS'], dtype='<U7')

## با استفاده از جعبه ابزار گزارش دقت مدل را بر روی داده تست گزارش کنید
## نود درصد را برای آموزش و ده درصد را برای تست استفاده کنید

In [17]:
from sklearn.metrics import classification_report

print(classification_report(prediction,y_test))

              precision    recall  f1-score   support

         EMS       0.99      0.82      0.90      5871
        Fire       0.33      1.00      0.50       498
     Traffic       0.93      0.93      0.93      3581

    accuracy                           0.87      9950
   macro avg       0.75      0.92      0.77      9950
weighted avg       0.94      0.87      0.89      9950